<div class="col m12 row">
  <div class="col m4 valign-wrapper">
    <h4><i mz-icon-mdi [icon]="'worker'"></i> Experience</h4>
  </div>
  <div class="col m8">
    <div class="col m12">
      <div class="col m9">
        <div class="col m12">
          <b>• 3GSoftware Co., LTD.</b>
        </div>
        <div class="col m11 offset-m1 sub-space-top">
          Research Thymeleaf template engine and AngularJs
        </div>
        <div class="col m11 offset-m1 sub-space-top">
          Developed Warehouse Management System
        </div>
        <div class="col m11 offset-m1">
          Front-end with AngularJs and Bootstrap
        </div>
      </div>
      <div class="col m3 right-align">
        <b>Aug – Nov 2015 </b>
      </div>
    </div>
    <div class="col m12 space-top">
      <div class="col m9">
        <div class="col m12">
          <b>• Quark System</b>
        </div>
        <div class="col m11 offset-m1 sub-space-top">
          Developed M-Seven PDA application and backoffice application with c#
        </div>
      </div>
      <div class="col m3 right-align">
        <b>Aug – NOV 2016 </b>
      </div>
    </div>
    <div class="col m12 space-top">
      <div class="col m9">
        <div class="col m12">
          <b>• 3GSoftware Co., LTD.</b>
        </div>
        <div class="col m11 offset-m1 sub-space-top">
          Research Swift3 and Angular 4
        </div>
        <div class="col m11 offset-m1 sub-space-top">
          Migrate Niyom application from j2ee 1.3 -> j2ee 6 (struts 1,ejb,java rmi)
        </div>
      </div>
      <div class="col m3 right-align">
        <b>Aug – NOV 2016 </b>
      </div>
    </div>
  </div>
</div>