<mz-navbar>
  <a routerLink="" class="brand-logo">Pondingz</a>
  <a mz-button [flat]="true" data-activates="mobile-demo" [large]="true" 
    class="button-collapse btn-transparent" (click)="btnCollapseClicked()">
    <i mz-icon-mdi [icon]="'menu'"></i>
  </a>
  <mz-navbar-item-container [align]="'right'">
    <mz-navbar-item><a routerLink="profile">Profile</a></mz-navbar-item>
    <mz-navbar-item><a routerLink="project">Project</a></mz-navbar-item>
    <mz-navbar-item><a routerLink="sharing">Sharing</a></mz-navbar-item>
  </mz-navbar-item-container>
</mz-navbar>

<app-side-nav></app-side-nav>

<button mz-button [id]="'btn-sidenav'" [flat]="true" style="height: 0px" #openSideNavBtn></button>
<div style="min-height: 5vh"></div>