<div class="col m12 row">
  <div class="col m4 valign-wrapper">
    <h4><i mz-icon-mdi [icon]="'book-open-page-variant'"></i> Education</h4>
  </div>
  <div class="col m8">
    <div class="col m12">
      <div class="col m9">
        <div class="col m12">
          <b>• Rajamangala University of Technology Thanyaburi</b>
        </div>
        <div class="col m11 offset-m1">
          Information System, GPAX 2.34
        </div>
      </div>
      <div class="col m3 right-align">
        <b>2012-2016</b>
      </div>
    </div>
    <div class="col m12 space-top">
      <div class="col m9">
        <div class="col m12">
          <b>• PrakanongpittayalaiSchool</b>
        </div>
        <div class="col m11 offset-m1">
          Hight school, English – Chinese program, GPAX 2.33
        </div>
      </div>
      <div class="col m3 right-align">
        <b>2009-2011</b>
      </div>
    </div>
  </div>
</div>