<div style="min-height: 80vh; background-color: whitesmoke">
  <div class="prevent-top"></div>
  <div class="col m12 row">
    <div class="col offset-m1 m2">
      <img class="materialboxed circle" width="150" src="./assets/img/pawarut.jpg">
    </div>
    <div class="col m4">
      <div class="col m12">
        <h5><b>Pawarut Klaiarmon</b></h5>
      </div>
      <div class="col m12">
        <h6>Software Developer</h6>
      </div>
    </div>
    <div class="col m4" style="text-align: right">
      <div class="col m12">
        <a href="mailto:pawarut.klaiarmon@gmail.com?subject=Contracr form your website&body=see attactment&attachment='./assets/img/pawarut.jsp'">pawarut.klaiarmon@gmail.com</a>
        <i mz-icon-mdi [icon]="'email'"></i>
      </div>
      <div class="col m12">
        <a target="_blank" href="https://github.com/pondings">https://github.com/pondings</a>
        <i mz-icon-mdi [icon]="'github-box'"></i>
      </div>
      <div class="col m12">
        <a target="_blank" href="https://www.facebook.com/GUPondz">My facebook</a>
        <i mz-icon-mdi [icon]="'facebook'"></i>
      </div>
      <div class="col m12">
        Tel. 0614219900
        <i mz-icon-mdi [icon]="'phone'"></i>
      </div>
    </div>
  </div>
  <div class="col m12 row">
    <hr style="max-width: 60vw">
  </div>
  <div class="prevent-top"></div>
  <div class="col m12 row">
    <div class="col offset-m1 m10">
        <app-profile-education></app-profile-education>
    </div>
  </div>
  <div class="col m12 row">
    <hr style="max-width: 60vw">
  </div>
  <div class="col m12 row">
    <div class="col offset-m1 m10">
        <app-profile-techninal-skill></app-profile-techninal-skill>
    </div>
  </div>
  <div class="col m12 row">
    <hr style="max-width: 60vw">
  </div>
  <div class="col m12 row">
    <div class="col offset-m1 m10">
        <app-profile-experience></app-profile-experience>
    </div>
  </div>
</div>