<div class="col m12 row">
  <div class="col m4 valign-wrapper">
    <h4><i mz-icon-mdi [icon]="'settings'"></i> Technical Skill</h4>
  </div>
  <div class="col m8">
    <div class="col m12">
      <div class="col m12">
        <div class="col m12">
          <b>• Programming</b>
        </div>
        <div class="col m11 offset-m1">
          PHP,Java,JavaScript,HTML,AutoIt,ASP.NET,C#,SQL,css,Swift3
        </div>
      </div>
    </div>
    <div class="col m12 space-top">
      <div class="col m12">
        <div class="col m12">
          <b>• Framework</b>
        </div>
        <div class="col m11 offset-m1">
          AngularJs,Angular,Spring-boot,Spring-MVC,scss,Bootstrap,Material Design,Jquery,Hibernate
        </div>
      </div>
    </div>
    <div class="col m12 space-top">
      <div class="col m12">
        <div class="col m12">
          <b>• Advanced Skill</b>
        </div>
        <div class="col m11 offset-m1">
          MVC,CICD,Rxjs,OOP,POP (protocol oriented programming)
        </div>
        <div class="col m11 offset-m1">
            git,linux(ubuntu),Nginx,AWS
        </div>
      </div>
    </div>
  </div>